{:duct.profile/base
 {:duct.core/project-ns recipes-app

  :duct.router/ataraxy
  {:routes {[:get "/"] [:recipes-app.handler.index/index]
            "/add-recipe"
            {:get [:recipes-app.handler.recipe/show-create]
             [:post {recipe-form :form-params}] [:recipes-app.handler.recipe/create recipe-form]}
            "/recipes"
            {[:get] [:recipes-app.handler.recipe/list]
             [:get "/" rid] [:recipes-app.handler.recipe/get ^int rid]
             [:delete "/" rid] [:recipes-app.handler.recipe/delete ^int rid]}}}

 :recipes-app.handler.index/index {}
 :recipes-app.handler.recipe/show-create {}
 :recipes-app.handler.recipe/list {:db #ig/ref :duct.database/sql}
 :recipes-app.handler.recipe/create {:db #ig/ref :duct.database/sql}
 :recipes-app.handler.recipe/get {:db #ig/ref :duct.database/sql}
 :recipes-app.handler.recipe/delete {:db #ig/ref :duct.database/sql}

 :duct.migrator/ragtime
 {:migrations [#ig/ref :recipes-app.migrations/create-recipe]}

 [:duct.migrator.ragtime/sql :recipes-app.migrations/create-recipe]
 {:up ["CREATE TABLE recipe (id INTEGER PRIMARY KEY, name TEXT UNIQUE, author TEXT, url TEXT, text TEXT, rating INTEGER)"]
  :down ["DROP TABLE recipe"]}
  :duct.middleware.web/defaults
  {:security {:anti-forgery false}}
  }

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/site
 {}
 :duct.module/sql
 {}
 }
